.background-add-aluno {
  /*background-color: grey;*/
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 5px;
}

#conteudoaluno {
  position: absolute;
  width: 65%;
  height: 880px;
  left: 25%;
  top: 120px;
  background: #fff;
}
